---
layout: default
---

<div class="project-list">
  <ol class="post-list">
    {% assign sorted_pro = (site.projects | sort: 'order') %}
    {% for project in sorted_pro %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ project.link }}" title="{{ project.title }}" target="_blank">{{ project.title }}</a></h2>
        <div class="post-list__meta"><strong>Role:</strong> {{project.role}}</span></div>
        <div class="post-list__meta"><strong>Tech Stack:</strong> {{project.technology}}</span></div>
        <p class="excerpt">{{ project.excerpt | remove: '<p>' | remove: '</p>' }}</p>
      </li>
      {% if project.carousel %}
        <div class="flexslider">
          <ul class="slides">
            {% for slides in project.carousel %}
            <li>
              <img src="{{ slides.image }}">
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </ol>
</div>
