---
layout: default
paginate:
  collection: projects
---

<div class="project-list">

  <ol class="post-list">
    {% for project in paginator.projects %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ project.url | remove_first: '/' }}" title="{{ project.title }}">{{ project.title }}</a></h2>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
